
/* font-family: 'Poppins', sans-serif; */
:root{
    --light-gray: hsl(0, 0%, 75%);
    --blue-btn: hsl(180, 66%, 49%);
    --purple-bg: hsl(257, 27%, 26%);
    --purple-title:hsl(260, 8%, 14%);    
}

body{
    font-family: 'Poppins';
    font-weight: 700;
    overflow-x: hidden;
    margin: 0px;
}

header{
    padding: 40px 85px;
    display: flex;
}

.img-section-1{
    overflow: hidden;
    width: 100vw;
}

.itm-1{
    color: black;
}

.menu-logo{
    justify-content: space-between;
    width: 15%;
}
.transparent-button{
    background-color: transparent;
    border: 0px;
    display: none;
}
.menu-morado{
    width: 85%;
    height:auto;
    display: flex;
    color: var(--light-gray);
    border-radius: 10px;
    justify-content: space-between;
}
.rayita-menu-morado{
    display:none;
}
#signButton{
    display: inline;
}
ul{
    list-style:none;
    text-align: center;
    display: flex;
    margin: 0px;
}
li{
    /* margin:20px; */
    margin: 8px;
}
.custom-button{
    color: white !important;
    background-color: var(--blue-btn);
    border: none;
    margin-top: -12px;
    border-radius: 25px;
    width: 200%;
    height: 50px;
    padding: 0px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    display: none;
}
.div-login{
    padding-right: 80px;
}

.working-img{
    width: auto;
    height: 355px;
}

h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: var(--purple-title);
    line-height: 60px;
}

.itm-1-1{
    padding: 10px;
}

.msg{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    text-align: center;
    color: var(--light-gray);
    
}

.gs-btn{
    color: white !important;
    background-color: var(--blue-btn);
    border: none;
    border-radius: 25px;
    width: 50%;
    height: 50px;
    padding: 0px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
}
.div-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.gs-btn-div{
    align-content: center;
    padding:5%;
}
.shrtn-link-sec{
    background-image: url(../images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #3A3053;
    width: 90%;
    border-radius: 10px;
}
.bicolor-background{
    /* background-size: 50%; 
    background-color: #F0F1F6; */
    width:100vw;
    height: 100%; 
    background: linear-gradient(to top, #F0F1F6 50%, white 50%); 
}
.input-shrtn-link{
    height: 50px;
    width:90%;
    border-radius: 10px;
    font-family: 'Poppins';
    color: var(--light-gray);
    border:none;
    font-size: 16px;
}

.btn-short-it{
    background-color: #2acfcf;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;     
    color: white;
    border: none;
    border-radius: 10px;
    width: 90%;
    height: 50px;
}



.section-advanced{
    background-color: #F0F1F6;
    width: 100vw;
    margin-top: -25px;
    padding-top: 110px;
    padding-bottom: 75px;
}

.title-advanced{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.bg-div-img{
    border-radius: 50%;
    background-color: var(--purple-bg);
    width: 100px;
    height: 100px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.adv-statistic{
    display: flex;
    align-items: start;
    justify-content: center;
    
}
.adv-statistic p{
    width: 40%;
    max-width: 600px;
    margin: 0px;
}
.features-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-brnd{
    width: 50%;
    height: 50%;
}

.sec-div-icons{
    background-color: #F0F1F6;
    width: 100vw;
}

.brnd-sction{
    width: 30%;
    height: fit-content;
    border-radius: 10px;
    align-items: center;
    background-color: white;
    /* padding-bottom: 30px; */
}
.card-content{
    padding:30px;
}
.brnd-sction h2{
    color: var(--purple-title);
}


/*Nomas*/

.reco{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.boost{
    margin-top: -10px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--light-gray);
}

.card-margin-top{
    margin-top: 50px;
}
.rayita-cyan{
    width: 51px;
    height: 0px;
    border: solid hsl(180, 66%, 49%) 5px;
}
.customizable-card{
    margin-top: 100px;
}

.boost-sec{
    background-image: url(../images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-color: #3A3053;
    width: 100vw;
    margin-top: 90px;

}
.upper-margin{
    margin-top: -4px;
}
h2{
    color:white;
}
.col-direction{
    flex-direction: column;
    align-items: center;
}
.boost-div{
    height: 300px;
}
.wider-button{
    width: 200px;
}

.footer-sec{
    background-color: #232027;
    width: 100vw;
}

.title-footer{
    font-size: 35px;
}

.footer-subtitles{
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 19px;
}
.footer-subtitles-gray{
    color:#BAB8BD;
    text-align: center;
    font-size: 17px;
}

h5 {
    margin: 7px;
    font-weight: 400;
}

.div-icons{
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
}
.icons{
    padding-right: 20px;
}

/* Estilos daniel (section "get Started") */
.section-get-started{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.itm-1-1 {
    padding-left: 177px; 
}
.itm-1 {
    text-align: left;
    color: black;
    font-size: 65px;
    margin-bottom: 0px;    
    line-height: 80px;
}
.msg{
    text-align: left;
    margin-top: 0px;
}
.gs-btn{
    color: white !important;
    background-color: var(--blue-btn);
    border: none;
    border-radius: 25px;
    height: 50px;
    padding: 0px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    width: 40%;
    margin-left: -25px;
}
.working-img {
    width: 760px;
    /*width: auto;*/
    height: 442px;
    padding-left: 55px;
    padding-bottom: 55px;
}
.gs-btn-div {
    padding-right: 0px;
    padding-bottom: 61px;
    display: block;
}

/*section shorten it! */
.shrtn-link-sec {
    background-image: url(../images/bg-shorten-desktop.svg);
    display: flex;
}
.bicolor-background{
    padding-left: 103px;
    padding-right: 103px;
    width: auto;
}
.input-shrtn-link {
    width: 763px;
}

.btn-short-it{
    width: 184px;
    margin-left: -30px;
}
