
/* font-family: 'Poppins', sans-serif; */
:root{
    --light-gray: hsl(0, 0%, 75%);
    --blue-btn: hsl(180, 66%, 49%);
    --purple-bg: hsl(257, 27%, 26%);
    --purple-title:hsl(260, 8%, 14%);    
}

body{
    font-family: 'Poppins';
    font-weight: 700;
}
.menu-logo{
    display: flex;
    justify-content: space-between;
}
.transparent-button{
    background-color: transparent;
    border: 0px;
}
.menu-morado{
    margin-top: 10px;
    height:auto;
    display: none;
    background-color:var(--purple-bg); 
    color:white;
    border-radius: 10px;
    justify-content: space-between;
}
ul{
    list-style:none;
    padding: 0px;
    text-align: center;
}
li{
    margin:20px;
}
.custom-button{
    color: white !important;
    background-color: var(--blue-btn);
    border: none;
    border-radius: 25px;
    width: 90%;
    height: 50px;
    padding: 0px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    display: none;
}

.working-img{
    width: auto;
    height: 355px;
}

h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: var(--purple-title);
    line-height: 60px;
}

.msg{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    text-align: center;
    color: var(--light-gray);
}

.gs-btn{
    color: white !important;
    background-color: var(--blue-btn);
    border: none;
    border-radius: 25px;
    width: 50%;
    height: 50px;
    padding: 0px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
}
.div-center{
    display: flex;
    justify-content: center;
    width: auto;
}
.gs-btn-div{
    align-content: center;
    padding:5%;
}
.shrtn-link-sec{
    background-image: url(../images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #3A3053;
    width: 90%;
    border-radius: 10px;
}
.bicolor-background{
    /* background-size: 50%; 
    background-color: #F0F1F6; */
    width:100vw;
    margin-left: -8px;
    height: 100%; 
    background: linear-gradient(to top, #F0F1F6 50%, white 50%); 
}
.input-shrtn-link{
    height: 50px;
    width:90%;
    border-radius: 10px;
    font-family: 'Poppins';
    color: var(--light-gray);
    border:none;
    font-size: 16px;
}

.btn-short-it{
    background-color: #2acfcf;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;     
    color: white;
    border: none;
    border-radius: 10px;
    width: 90%;
    height: 50px;
}



.section-advanced{
    background-color: #F0F1F6;
    width: 100vw;
    margin-left: -8px;
    margin-top: -25px;
    padding-top: 110px;
    padding-bottom: 75px;
}

.title-advanced{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.bg-div-img{
    border-radius: 50%;
    background-color: var(--purple-bg);
    width: 100px;
    height: 100px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;    
}


.img-brnd{
    width: 50%;
    height: 50%;
}

.sec-div-icons{
    background-color: #F0F1F6;
    width: 100vw;
    margin-left: -8px;
    padding
      -bottom: 100px;
}

.brnd-sction{
    width: 90%;
    height: 300px;
    border-radius: 10px;
    align-items: center;
    background-color: white;
    margin-left: 5%;
    padding-bottom: 30px;
}

.reco{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.boost{
    margin-top: -10px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--light-gray);
}

.card-margin-top{
    margin-top: 50px;
}
.rayita-cyan{
    width: 0px;
    height: 51px;
    border: solid hsl(180, 66%, 49%) 5px;
}

.boost-sec{
    background-image: url(../images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-color: #3A3053;
    width: 100vw;
    margin-left:-8px;
}
.upper-margin{
    margin-top: -4px;
}
h2{
    color:white;
}
.col-direction{
    flex-direction: column;
    align-items: center;
}
.boost-div{
    height: 380px;
}
.wider-button{
    width: 200px;
}

.footer-sec{
    background-color: #232027;
    width: 100vw;
    margin-left: -8px;
}

.title-footer{
    font-size: 35px;
}

.footer-subtitles{
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 19px;
}
.footer-subtitles-gray{
    color:#BAB8BD;
    text-align: center;
    font-size: 17px;
}

h5 {
    margin: 7px;
    font-weight: 400;
}

.div-icons{
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
}
.icons{
    padding-right: 20px;
}
}